{#if posts.length}}
<section>
  <h2 class="text-muted pl-4 your-post-margin">Your Posts</h2>
    <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link text-primary">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="mt-5 pt-3 pb-2">
<a href="/dashboard/add-post" class="text-right"><button id="add-post">+ New Post</button></a>
</div>